.form {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  font-family: "Open Sans Condensed", arial, sans;
  height: fit-content;
  margin: 4rem 0;
  min-width: 500px;
  padding: 10px 30px;
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
