.bold {
  font-weight: 600;
  margin: 0 8px 0 75px;
}
.header {
  height: 56px; // TODO make this a sass variable
  width: 100%;
  background-color: #333;
  display: flex;
}

.title {
  font-size: 25px;
  font-family: Arial;
  color: #c6c6c6;
  margin: auto;
}
