@mixin input {
  font-size: 16px;
  background: transparent;
  color: #333;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid lightgray;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  margin: 30px 0 4px 0;
  outline: none;
  padding: 10px 0;
  width: 100%;
  &:focus {
    outline: none;
  }
}

@mixin label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

@mixin textarea {
  height: 200px;
}

@mixin image {
  max-height: 200px;
  height: 100%;
  width: auto;
}

@mixin invalid {
  border-bottom: 2px solid red;
  color: red;
  &::placeholder {
    color: red;
  }
}

@mixin header {
  font-weight: bold;
  color: rgb(124, 122, 122);
  font-size: small;
  margin: 5px 0;
}
