.NavigationItem {
  margin: 0;
  display: flex;
  width: auto;
  align-items: center;
}

.NavigationItem a {
  color: white;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.NavigationItem a:active,
.NavigationItem a:hover,
.NavigationItem a.active {
  background-color: #777;
  border-bottom: 4px solid #2a6bac;
  color: white;
}
