.Button {
    background-color: #133A7C;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    margin: 10px 5px;
    border-radius: 5px;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #2A6BAC;
}