.label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

.header {
  font-weight: bold;
  color: rgb(124, 122, 122);
  font-size: small;
  margin: 3px 0 15px 0;
  text-align: left;
}
