.button {
  display: inline-block;
  cursor: pointer;
  color: #133a7c;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  margin: 10px 5px;
  background: none;
  border: none;
}

.noMargin {
  margin: 0;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
