.NavigationItems {
  background: #333;
  display: flex;
  flex-flow: column;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 75px;
}

.icon {
  color: #c6c6c6;
  margin: auto;
}

.iconContainer {
  font-size: 35px;
  height: 50px;
  margin: 13px 0 0 0;
  padding: 10px 5px;
  width: 56px;
}
