.NavigationItem {
  display: flex;
}

.NavigationItem a {
  color: white;
  border-left: 4px solid transparent;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.NavigationItem a:hover {
  background-color: #777;
  border-left: 4px solid #2a6bac;
  color: white;
}

.NavigationItem a.active {
  border-left: 4px solid #2a6bac;
}
