.main {
  height: 100%;
  display: flex;
}

// TODO
.content {
  margin-top: 72px;
}

.App {
  text-align: center;
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

button {
  background-color: #133a7c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  margin: 10px auto;
  border-radius: 5px;
}

button:hover {
  background-color: #2a6bac;
}

.NoApps {
  border: 2px;
  text-align: center;
  height: 200px;
  margin: 0 auto;
  width: 100%;
  background: #c6c6c6;
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14);
  position: relative;
}

.AppTable {
  border: 2px;
  text-align: center;
  margin: 20px auto;
  max-width: 60%;
}

.NoApps p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CreateApp {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo_42 {
  fill: #f2f2f2;
}

.TopWrapper {
  text-align: right;
}

table {
  background: #ffffff;
  border-spacing: 0;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  width: 100%;
}

tr:hover {
  background-color: #f5f5f5;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

/* Add a black background color to the top navigation */
.Topnav {
  background-color: #333;
  overflow: hidden;
  height: 61px;
}

/* Style the links inside the navigation bar */
.Topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  vertical-align: middle;
  margin-top: 5px;
  font-family: Arial;
}

.Topnav a:hover {
  cursor: pointer;
}

.Topnav a:hover {
  cursor: pointer;
}

.Topnav span {
  float: left;
  color: #f2f2f2;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  font-size: 30px;
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

.spanWrapper {
  display: block;
}

.bold {
  font-weight: bold;
  margin: 8px;
}

.notbold {
  margin: 3px;
}

.close {
  font-size: 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 30px;
}

/* Add a color to the active/current link */
.Topnav button.active {
  background-color: #4caf50;
  color: white;
}

/* The side navigation menu */
.Sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #333; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.Sidenav a {
  padding: 13px;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  color: #f2f2f2;
  display: block;
  transition: 0.3s;
}

.Sidenav img {
  padding-right: 5px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.Sidenav a:hover {
  cursor: pointer;
}

/* Position and style the close button (top right corner) */
.Sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.header {
  padding: 4px;
  text-decoration: none;
  font-size: 15px;
  color: #c6c6c6;
  display: flex;
  width: 390px; /*can be in percentage also.*/
  height: auto;
  margin: 0 auto;
}

.header p {
  padding-top: 6px;
}
