@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,800&&display=swap");

html,
body,
#root {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #333;
}
